body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#main {
    max-width: 360px;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 10px;
    margin: 40px auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .12);
}

#main div:nth-of-type(1) {
    padding: 10px;
    display: block;
}

#top {
    width: auto;
    border-bottom: 1px solid #333;
}

#bottom {
    display: grid;
    gap: 40px;
}

#bottom ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
}

#bottom ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

input, button {
    outline: none;
}

input {
    width: 100%;
    text-align: right;
    font-size: 1.7em;
    padding-block: 15px;
    background: none;
    border: none;
}

input:nth-of-type(1) {
    font-size: 2em;
}

button {
    background-color: black;
    color: white;
    width: 60px;
    height: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #333;
    font-size: 1.7em;
    cursor: pointer;
}

.green {
    color: green;
}

.red {
    color: red;
}

button:hover {
    font-size: 1.8em;
    transition: all .12s ease;
    background-color: #333;
}

/* The power button is disabled */
#power:hover {
    font-size: 1.7em;
    background-color: black;
    cursor: auto;
}

@media screen and (max-width: 360px) {
    #main {
    max-width: 100%;
    border-radius: none;
    border: none;
    padding: 10px;
    margin: 40px auto;
    box-shadow: none;
}
}