@media screen and (min-width: 330px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        background: linear-gradient(90deg, black, rgb(255, 255, 255), black);
    }
    
    #main {
        width: 310px;
        height: auto;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        padding: 0 10px;
        background-color: black;
        box-shadow: 0px 0px 0px 0px black;
    }
    
    #top div {
        width: 100%;
        height: auto;
        margin: 3px auto;
        color: white;
        text-align: right;
        display: flex;
    }
    
     input {
        width: 100%;
        height: 40px;
        font-size: 2em;
        background: unset;
        outline: none;
        border: none;
        color: green;
        text-align: right;
        padding: 5px;
    }
    
    .results-holder input{
        font-size: 1.7em;
        color: white;
        font-weight: 100;
    }
    
    .info-holder input{
        color: white;
        font-weight: 100;
        font-size: 1.7em;
        border-bottom: 1px solid rgb(20, 20, 20);
    }
    
    #bottom {
     width: 100%;
     height: auto;
    }
    
    #bottom ul {
      list-style-type: none;
      padding: 0px;
    }
    
    #bottom ul li {
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    button {
       width: 70px;
       height: 70px;
       margin: 3px auto;
       border: none;
       border-radius: 100px;
       font-size: 2em;
       text-align: center;
       background-color: rgb(20, 20, 20);
       color: white;
    }
    
    button:active {
        background-color: rgb(12, 12, 12);
        font-size: 1.6em;
    }
    
    .red {
        color: red;
    }
    
    .green {
        color: green;
    }
    
    .green-bg {
        background-color: green;
    }
    
    .green-bg:active {
        background-color: rgb(34, 128, 34);
    }
}
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        background: black;
    }
    
    #main {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        background-color: black;
        border-radius: 0px;
    }
    
    #top div {
        width: 100%;
        height: 90px;
        margin: 10px duto;
        color: white;
        text-align: right;
        display: flex;
    }
    
     input {
        width: 100%;
        height: 100%;
        background: unset;
        outline: none;
        border: none;
        text-align: right;
        padding: 5px;
    }

    .input-holder input {
        color: green;
        font-size: 2em;
    }
    
    .results-holder input{
        font-size: 1.7em;
        color: white;
        font-weight: 100;
    }
    
    .info-holder input{
        color: white;
        font-weight: 300;
        font-size: 1.7em;
        border-bottom: 1px solid rgb(20, 20, 20);
    }
    
    #bottom {
     margin: 14px auto;
     width: 100%;
     height: 100%;
    }
    
    #bottom ul {
      list-style-type: none;
      padding: 0px;
    }
    
    #bottom ul li {
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    button {
       width: 70px;
       height: 70px;
       margin: 3px auto;
       border: none;
       border-radius: 100px;
       font-size: 2em;
       text-align: center;
       background-color: rgb(20, 20, 20);
       color: white;
    }
    
    button:active {
        background-color: rgb(12, 12, 12);
        font-size: 1.6em;
    }
    
    .red {
        color: red;
    }
    
    .green {
        color: green;
    }
    
    .green-bg {
        background-color: green;
    }
    
    .green-bg:active {
        background-color: rgb(34, 128, 34);
    }
}
